# Lab 1.01 - Australian Athletes (ais)

In the Python cell below this one, paste all the imports you need for data analysis from the code examples (Numpy, Pandas, etc.).

In [1]:
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt                                # Alternative visualisation system

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Declare a variable `ais` and use it to import the dataset from the CSV-file `ais.csv` in [the directory `data/`](https://github.com/HoGentTIN/dsai-en-labs/tree/main/data) of the [Github repository](https://github.com/HoGentTIN/dsai-en-labs/) for the lab assignments. You can import a dataset with a URL pointing to the raw contents of the CSV-file in the Github repository (see the code example!).

This dataset contains 202 observations of Australian athletes with a variety of blood values. You can find the codebook (i.e., the explanation of what each variable/column in the dataset means) in [data/ais.md](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/ais.md). Show the first few observations of this sample.

In [8]:
ais = pd.read_csv('https://raw.githubusercontent.com/arnauddormaels/Data-Science-and-AI/main/data/ais.csv')
ais.head()

   id   rcc  wcc    hc    hg  ferr  ...  pcBfat    lbm     ht    wt  sex   sport
0   1  3.96  7.5  37.5  12.3    60  ...   19.75  63.32  195.9  78.9    f  B_Ball
1   2  4.41  8.3  38.2  12.7    68  ...   21.30  58.55  189.7  74.4    f  B_Ball
2   3  4.14  5.0  36.4  11.6    21  ...   19.88  55.36  177.8  69.1    f  B_Ball
3   4  4.11  5.3  37.3  12.6    69  ...   23.66  57.18  185.0  74.9    f  B_Ball
4   5  4.45  6.8  41.5  14.0    29  ...   17.64  53.20  184.6  64.6    f  B_Ball

[5 rows x 14 columns]

Get general information about this dataset:

- How many rows and columns does the dataset have?
- Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
- How many columns of each type are there?
- What is the measurement level (nominal, ordinal, interval, ratio) of each variable?

In [9]:
len(ais)
len(ais.columns)
ais.shape

(202, 14)

The column "id" is not an actual variable, but an index. Mark it as such.

In [10]:
ais.set_index(['id'])
ais.head()

   id   rcc  wcc    hc    hg  ferr  ...  pcBfat    lbm     ht    wt  sex   sport
0   1  3.96  7.5  37.5  12.3    60  ...   19.75  63.32  195.9  78.9    f  B_Ball
1   2  4.41  8.3  38.2  12.7    68  ...   21.30  58.55  189.7  74.4    f  B_Ball
2   3  4.14  5.0  36.4  11.6    21  ...   19.88  55.36  177.8  69.1    f  B_Ball
3   4  4.11  5.3  37.3  12.6    69  ...   23.66  57.18  185.0  74.9    f  B_Ball
4   5  4.45  6.8  41.5  14.0    29  ...   17.64  53.20  184.6  64.6    f  B_Ball

[5 rows x 14 columns]

The variables that are now considered "object" are qualitative variables. Change the type of each of these variables to "category". For ordinal variables, also define a type and impose an order. Verify that the conversion was successful by requesting info about the types again.

In [16]:
ais.sex = ais.sex.astype('category')
ais.sport = ais.sport.astype('category')
ais.head()

   id   rcc  wcc    hc    hg  ferr  ...  pcBfat    lbm     ht    wt  sex   sport
0   1  3.96  7.5  37.5  12.3    60  ...   19.75  63.32  195.9  78.9    f  B_Ball
1   2  4.41  8.3  38.2  12.7    68  ...   21.30  58.55  189.7  74.4    f  B_Ball
2   3  4.14  5.0  36.4  11.6    21  ...   19.88  55.36  177.8  69.1    f  B_Ball
3   4  4.11  5.3  37.3  12.6    69  ...   23.66  57.18  185.0  74.9    f  B_Ball
4   5  4.45  6.8  41.5  14.0    29  ...   17.64  53.20  184.6  64.6    f  B_Ball

[5 rows x 14 columns]

Describe the columns `ferr`, `bmi`, `sex` and `sport` and the unique values in each of these columns. Do you recognize the characteristics of qualitative and quantitative variables in the result?

In [14]:
print(ais.ferr.describe())
print('='*50)
ais.sport.describe()

count    202.000000
mean      76.876238
std       47.501239
min        8.000000
25%       41.250000
50%       65.500000
75%       97.000000
max      234.000000
Name: ferr, dtype: float64
==================================================

count     202
unique     10
top       Row
freq       37
Name: sport, dtype: object

Select following elements from the dataset:

- the second row (ids = 2)
- rows 4 to 6 (ids = 5 to 7)
- Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
- the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
- all observations for the sport "Netball"
- just the variable `wt` of the observations for "Netball"
- which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.

In [32]:
# ais[['sport','ht']]         #dit is een ander voorbeeld dan hetgene dat gevraagd wordt 
ais[(ais.sport == 'Netball')('wt' == 63)]

TypeError: ignored

In [31]:
ais[(ais.sport == 'Netball') & (ais.wt >79)]

    id   rcc  wcc    hc    hg  ferr  ...  pcBfat    lbm     ht    wt  sex    sport
54  55  4.23  6.9  38.3  12.6    50  ...   26.65  61.46  180.5  83.8    f  Netball
55  56  4.24  8.4  37.6  12.5    58  ...   35.52  53.46  179.8  82.9    f  Netball

[2 rows x 14 columns]

In [35]:
from pandas.core.algorithms import value_counts
ais[ais.bmi >26 ] ['sport'].value_counts()

Field      12
W_Polo      3
Row         2
Swim        2
Netball     1
T_Sprnt     1
B_Ball      0
Gym         0
T_400m      0
Tennis      0
Name: sport, dtype: int64